<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="custom-container homepage">
    <section class="section intro-section">
      <div class="inner">
        <h1 class="section-title">Take a Survey</h1>
        <p>You can choose to give any survey of your choice</p>
        <a href="/openSurveysList" class="btn-s1">TRUE/FALSE Surveys</a>
      </div>
    </section>
    <section class="section nl-section custom-container-shrink">
      <h1 class="section-title">Subscribe to our Newsletter</h1>
      <p class="intro-text">Be the first one to know when the survey results are out!</p>
      <div class="nl-sub lg-1">
        <input class="tb-s1 border-round" placeholder="John.doe@example.com"/>
        <a href="#" class="btn-s1 border-round">Subscribe</a>
      </div>
    </section>
    <hr class="hr-s1"/>
    <section class="section nl-section custom-container-shrink">
      <h1 class="section-title">Get In Touch</h1>
      <p class="t-center">Having problems with surveys? Or perhaps you want to start a new one? Contact us and we will sort things out for you!</p>
      <div class="contact-widget">
        <div class="contact-item">
          <div class="feature-img">
            <img src="Images/icon-mail.png"/>
          </div>
          <div class="info">
            surveyfiend@gmail.com
          </div>
        </div>
        <div class="contact-item">
          <div class="feature-img">
            <img src="Images/icon-addr.png"/>
          </div>
          <div class="info">
            1234 Golden Crescent Circle, Brampton, ON
          </div>
        </div>
        <div class="contact-item">
          <div class="feature-img">
            <img src="Images/icon-phone.png"/>
          </div>
          <div class="info">
            +1 (437)-991-992
          </div>
        </div>
      </div>
    </section>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




